.userBoard{
    display: grid;
    grid-template-columns: repeat(10, 5vmin);
    grid-template-rows: repeat(10, 5vmin);
    margin-bottom: 1rem;
}

.agruparBoard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textB{
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.247);
    border-radius: 5px;
    width: inherit;
}

.tB{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}

@media (max-width: 800px) {
    .tB{
        font-size: 0.7rem;
    }
}
