.userBoard{
    display: grid;
    grid-template-columns: repeat(10, 5vmin);
    grid-template-rows: repeat(10, 5vmin);
    margin-bottom: 1rem;
}

.agruparBoard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textB{
    padding: 1rem;
    background-color: whitesmoke;
    border-radius: 5px;
    width: inherit;
}

.tB{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
