.userBoard{
    display: grid;
    grid-template-columns: repeat(10, 35px);
    grid-template-rows: repeat(10, 35px);
}

.agruparBoard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.textB{
    padding: 0.5rem 1rem;
    background-color: #54D1DB;
    border-radius: 5px;
    width: 8.125rem;
    height: 2.3rem;
    border: 1px solid #38BEC9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tB{
    color: #0E7C86;
    font-size: 0.8rem;
}

@media (max-width: 800px) {
    .tB{
        font-size: 0.7rem;
    }
}
