.boardsCont{
    display: flex;
    gap: 4rem;
    justify-content: center;
    flex-direction: row;
}
.boardP{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botonP{
    width: 100px;
    padding: 0.3rem;
    margin: 0.5rem 0.75rem;
    text-transform: capitalize;
    background-color: #38bec9;
    outline: none;
    color: #044E54;
    border: 1px solid #0E7C86;
    border-bottom: 2px solid #0E7C86;
    transition: background-color 0.5s ease-in;
    cursor: pointer;
}

.botonP:hover{
    background-color: #14919B;
}

.botonesT{
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerWP{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.placed{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.containerALL{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textingGame{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 1rem 0;
}

.textW{
    margin: 0;
    color: #486581;
}

@media (max-width: 900px) {
    .containerWP{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 800px) {
    .textW{
        font-size: 1rem;
    }
}