:root{
    --water-col: #d4f1f9;
    --ship-col: #787f86;
    --hit-cool: #43707e;
    --ship-hit: #8b0000;
    --ship-hov: #4c535a;
    --water-hov: #a4c3cc;
}

.boxinboard{
    border: 1px solid rgba(0, 0, 0, 0.486);
}

.water{
    background-color: var(--water-col);
    cursor: pointer;
}
.water:hover{
    background-color: var(--water-hov);
}

.ship{
    background-color: var(--ship-col);
    cursor: pointer;
}
.ship:hover{
    background-color: var(--ship-hov);
}

.hitN{
    background-color: var(--hit-cool);
}

.hitS{
    background-color: var(--ship-hit);
}